{% if content.howitswork_widget == 1 %}
{% render controller('MovePlusServiceBundle:Default:howitworks') %}
{% endif %}


{% if content.relatedservices_widget == 1 %}
	<div class="row1 rowheight">
  <div class="container">
    <div class="col-lg-12 text-center footer">
      <h2 class="related"> Related Services of {{ content.catagory|title }} </h2>
      <div class="container footerWrap">
        <div class="row">        
       <ul class="list-unstyled colorRelated"> 
		{% for movingSericesRecord in movingSericesRecords  %}
           <li style="width:25%;margin:0px;margin-top:15px;">
				<a href="{{ asset('/') }}{{ movingSericesRecord.slug }}" title="{{ movingSericesRecord.title }}">  {{ movingSericesRecord.title }}</a>
		  </li>
         {% endfor %}	
        </ul>

        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if content.customertestimonial_widget == 1 %}
  {% render controller('MovePlusServiceBundle:Default:gettestimonial') %}
{% endif %}


{% if content.readytobook_widget == 1 %}
<div class="row5">
  <div class="container">
    <div class="col-lg-12">
      <div class="col-lg-12 col-xs-12 text-center">
        <div class="col-lg-6 col-sm-6 col-sm-12 text-center1">
          <div class="book">
            <h2> Ready to book now? </h2>
            <div class="number"> <img src="/theme/frontend/images/phone.png" alt="phone" title="phone">07701038629</div>
          </div>
          <div class="btn-group1">
		        {% render controller('MovePlusServiceBundle:Default:recentServicePopUpBottom',  {'catagory': formdata.catagory }) %}
            <!-- <button type="submit"   class="btn btn-default bookCleaning">Book a Cleaning</button> -->
          </div>
         <!--  <div class="btn-group2">
            <button type="submit" class="btn btn-default">See All Services</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>	
</div>
{% endif %}


{% if content.blog_widget == 1 %}
<div class="row">
    <div class="container post">
      <div class="col-md-12 text-center blog_h">
      <h2>Recent updates from MovePlus Blog</h2>
      {% render controller('MovePlusServiceBundle:Default:recentpostCombined', {'catagory': content.catagory })%}
        
      </div> 
    </div>
</div>

{% endif %}

<!-- blog section end here --> 




<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- footer section start here -->
 
 <footer>
  <div class="container footerWrap">
  
     	  {% render controller('MovePlusServiceBundle:Default:footerSide1Moving') %}
	 
	 
  </div>
  
  <div class="row pad-top lower-footer">
    <div class="container sub">
      <div class="col-md-12">
        {% render controller('MovePlusServiceBundle:Default:footersection') %}
      </div>
    </div>
  </div>
</footer>
<!-- script footer  start  -->
<script type="text/javascript" src="{{ asset('theme/frontend/js/jquery.bxslider.min.js') }}"></script>

<script>
   $('.testimonials-slider').bxSlider({
   slideWidth: 800,
   minSlides: 1,
   maxSlides: 1,
   slideMargin: 32,
   auto: true,
   autoControls: true
   });
</script> 



</body>
</html>