
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

	 <div class="container-fluid edit-section2">
	 <h2>Step 1</h2>
	 </div>
		 <div class="container-fluid edit-section">     
		   
		   <div id="new_attr" style="display:block">   
			   <div class='row' style="display:none;" id="addafter">
				<label>Add After</label>
				<select id='addafterme'>
				<option value ='0'>First</option>
				</select>
			   </div>    
		   
			   <div class='row'>
					<label>Label</label> <input type="text" name="label" id="label">
			   </div>
			   <div class='row'>
					<label>Name</label> <input type="text"  name="input_name" id="input_name">
			   </div>
			   <div class='row'>
				   <label>Select Input Type</label>
				   <select name="type" id="type" onChange="updateoption(this.value)">
				   <option  value=''>Select Input type</option>
				   <option  value='text'>Text Box</option>
				   <option  value='textarea'>Textarea</option>
				   <option  value='radio'>Radio Button</option>
				   <option  value='checkbox'>Check Box</option>
				   <option  value='selectbox'>Select Box</option>
				   </select>
			   </div>
		   
			<div id="optionsecion" class='row'>
			   <label>Option</label> 
			   <input type="text"  name="option" id="option"><br />"," Seprated like: Yes,No
			</div>
			<div class='row'>
				<label>Is Required</label>
				<input type="radio" name="is_required"  value="true">Yes
				<input type="radio" name="is_required" value="false"> NO
		   </div>	
			<div class='row' id="addafter">
			
			</div>
			 <input type="button" value="Create" id="create" onClick="createfield()">
		   </div>		   
		 </div>
		 <!-- step22222222222222222222222222222222222222222222222 -->
		 
 <div class="container-fluid edit-section3">
 <h2>Step 2</h2>
 </div>
 <div class="container-fluid edit-section">      
   
   <div id="new_attr2" style="display:block">   
   <div class='row' style="display:none;" id="addafter2">
    <label>Add After</label>
	<select id='addafterme2'>
    <option value ='0'>First</option>
    </select>
   </div>    
   
   <div class='row'>
   <label>Label</label> <input type="text" name="label" id="label2">
   </div>
   <div class='row'>
   <label>Name</label> <input type="text"  name="input_name2" id="input_name2">
   </div>   
   
   <div class='row'>
   <label>Select Input Type</label>
   <select name="type" id="type2" onChange="updateoption2(this.value)">
   <option  value=''>Select Input type</option>
   <option  value='text'>Text Box</option>
   <option  value='textarea'>Textarea</option>
   <option  value='radio'>Radio Button</option>
   <option  value='checkbox'>Check Box</option>
   <option  value='selectbox'>Select Box</option>
   </select>
   </div>
    <div id="optionsecion2" class='row'>
       <label>Option</label> <input type="text"  name="option2" id="option2"><br />"," Seprated like: Yes,No
    </div>
    <div class='row'>
        <label>Is Required</label>
        <input type="radio" name="is_required2"  value="true">Yes
        <input type="radio" name="is_required2" value="false"> NO
   </div>
    <div class='row' id="addafter2">
    
    </div>
     <input type="button" value="create2" id="create2" onClick="createfield2()">
   </div>
 </div>	

 <!-- step333333333333333333333333333333333 -->
		 
 <div class="container-fluid edit-section4">
 <h2>Step 3</h2>
 </div>
 <div class="container-fluid edit-section">      
   
   <div id="new_attr3" style="display:block">   
   <div class='row' style="display:none;" id="addafter3">
    <label>Add After</label>
	<select id='addafterme3'>
    <option value ='0'>First</option>
    </select>
   </div>    
   
   <div class='row'>
   <label>Label</label> <input type="text" name="label" id="label3">
   </div>
   <div class='row'>
   <label>Name</label> <input type="text"  name="input_name3" id="input_name3">
   </div>   
   
   <div class='row'>
   <label>Select Input Type</label>
   <select name="type" id="type3" onChange="updateoption3(this.value)">
   <option  value=''>Select Input type</option>
   <option  value='text'>Text Box</option>
   <option  value='textarea'>Textarea</option>
   <option  value='radio'>Radio Button</option>
   <option  value='checkbox'>Check Box</option>
   <option  value='selectbox'>Select Box</option>
   </select>
   </div>
    <div id="optionsecion3" class='row'>
       <label>Option</label> <input type="text"  name="option3" id="option3"><br />"," Seprated like: Yes,No
    </div>
    <div class='row'>
        <label>Is Required</label>
        <input type="radio" name="is_required3"  value="true">Yes
        <input type="radio" name="is_required3" value="false"> NO
   </div>
    <div class='row' id="addafter3">
    
    </div>
     <input type="button" value="create3" id="create3" onClick="createfield3()">
   </div>
 </div>
 
 
	<script>
	updateaddfetr();
	//updateaddfetr2();
	function updateform(){
	 
	var div1start = '<div class="step-1" id="step-1">';	
	var div1end = '</div>'; 
	var submitMovingFinal = ''; 
	
	var div2start = '<div class="step-2" id="step-2">';
	var div2end = '</div>';
	
	var div3start = '<div class="step-3" id="step-3">';
	var div3end = '</div>'; 
	
	
	var contenthtml1 =  $('#formattributs').html();
	var contenthtml2 =  $('#formattributs2').html();
	var contenthtml3 =  $('#formattributs3').html();

	var contenthtml = div1start+contenthtml1+div1end+div2start+contenthtml2+div2end+div3start+contenthtml3+div3end;
	//var contenthtml = contenthtml1+contenthtml2;
	
	//alert(contenthtml); die;
	console.log(contenthtml);
  $('#content').val(contenthtml);
  $( "#bookingform" ).submit();
  
  }
	function toggleadd(){
  $('#new_attr').toggle();
  }
  function updateoption(value){
  if(value!='text' && value!='textarea'){
  $('#optionsecion').show();
  }else{
  $('#optionsecion').hide();
  $('#option').val('');
  }
  }
  
  function updateoption2(value){

  if(value!='text' && value!='textarea'){
  $('#optionsecion2').show();
  }else{
  $('#optionsecion2').hide();
  $('#option2').val('');
  }
  }
  function updateoption3(value){

  if(value!='text' && value!='textarea'){
  $('#optionsecion3').show();
  }else{
  $('#optionsecion3').hide();
  $('#option3').val('');
  }
  }
  
  
  function createfield()
  {
  var intype = $('#type').val(); 
  
  var addafterme = $('#addafterme').val();
  var optionvalue = $('#option').val();
  var optionvaluearray = optionvalue.split(',');
  var rowid = $('#label').val().replace(' ','-');
  var input_name = $('#input_name').val().replace(' ','-');
  var is_required = $("input[name=is_required]:checked").val();

  if(intype!='' && rowid !='' && input_name !=''){

  var inputclass='';
  var requredlabel ='';
  if(is_required == 'true'){
  inputclass = inputclass+" required";
  requredlabel = "<span>*</span>";
 
  }
  
  if(intype =='radio'){
  if(optionvalue == ''){
  alert('Please enter option');
  die;
  }
  var inputcontent=''
  for(var j=0;j<optionvaluearray.length;j++){
    inputcontent = inputcontent+"<input class='"+inputclass+"' type='radio' name='"+input_name+"'  value='"+optionvaluearray[j]+"'>"+optionvaluearray[j];
  }
  }  

  if(intype =='checkbox'){
  if(optionvalue == ''){
  alert('Please enter option');
  die;
  }
  var inputcontent=''
  for(var j=0;j<optionvaluearray.length;j++){
   inputcontent = inputcontent+"<input class='"+inputclass+"' type='checkbox' name='"+input_name+"'  value='"+optionvaluearray[j]+"'>"+optionvaluearray[j];
  }
  }
  
  if(intype =='selectbox'){
  if(optionvalue == ''){
  alert('Please enter option');
  die;
  }
  var inputcontent="<select class='"+inputclass+"' name='"+input_name+"'><option value=''>Select One</option>";
  for(var j=0;j<optionvaluearray.length;j++){
   inputcontent = inputcontent+"<option  value='"+optionvaluearray[j]+"'>"+optionvaluearray[j]+"</option>";
  }
  inputcontent=inputcontent +"</select>";
  }
  
  if(intype =='text'){
   var inputcontent = "<input class='"+inputclass+"' type='text' name='"+input_name+"' id='"+$('#label').val()+"'>";
  }
  
  if(intype =='textarea'){
   var inputcontent = "<textarea class='"+inputclass+"' name='"+input_name+"' id='"+$('#label').val()+"'></textarea>";
  }
  
  
  if(addafterme == 0){
  $( "#formattributs" ).append( "<div class='row' id='"+rowid+"'><label>"+$('#label').val()+requredlabel+"</label>"+inputcontent+"</div>" );
   //alert(html1);
  }else{ 
   $("<div class='row' id='"+rowid+"'><label>"+$('#label').val()+"</label>"+inputcontent+requredlabel+"</div>").insertAfter("#"+addafterme);
  }
    
  
  updateaddfetr();
  }
  }
	/*  step2 start  222222222222222222222222222222222222222222222222222222222222222 */
  function createfield2()
  {
  var intype2 = $('#type2').val(); 
  //alert(intype2);
  var addafterme2 = $('#addafterme2').val(); 
  var optionvalue2 = $('#option2').val();
  var optionvaluearray2 = optionvalue2.split(',');
  var rowid2 = $('#label2').val().replace(' ','-');
  var input_name2 = $('#input_name2').val().replace(' ','-');
  var is_required2 = $("input[name=is_required2]:checked").val();   //alert(is_required2);

  if(intype2!='' && rowid2 !='' && input_name2 !=''){

  var inputclass2='';
  var requredlabel2 ='';
  if(is_required2 == 'true'){
  inputclass2 = inputclass2+" required";
  requredlabel2 = "<span>*</span>";
  }
  
  if(intype2 =='radio'){
  if(optionvalue2 == ''){
  alert('Please enter option');
  die;
  }
  
  var inputcontent2=''
  for(var j=0;j<optionvaluearray2.length;j++){
  //alert("enter");
    inputcontent2 = inputcontent2+"<input class='"+inputclass2+"' type='radio' name='"+input_name2+"'  value='"+optionvaluearray2[j]+"'>"+optionvaluearray2[j];
  }
  }  

  if(intype2 =='checkbox'){
  if(optionvalue2 == ''){
  alert('Please enter option');
  die;
  }
  var inputcontent2=''
  for(var j=0;j<optionvaluearray2.length;j++){
   inputcontent2 = inputcontent2+"<input class='"+inputclass2+"' type='checkbox' name='"+input_name2+"'  value='"+optionvaluearray2[j]+"'>"+optionvaluearray2[j];
  }
  }
  
  if(intype2 =='selectbox'){
  if(optionvalue2 == ''){
  alert('Please enter option');
  die;
  }
  var inputcontent2="<select class='"+inputclass2+"' name='"+input_name2+"'><option value=''>Select One</option>";
  for(var j=0;j<optionvaluearray2.length;j++){
   inputcontent2 = inputcontent2+"<option  value='"+optionvaluearray2[j]+"'>"+optionvaluearray2[j]+"</option>";
  }
  inputcontent2=inputcontent2 +"</select>";
  }
  
  if(intype2 =='text'){
   var inputcontent2 = "<input class='"+inputclass2+"' type='text' name='"+input_name2+"' id='"+$('#label2').val()+"'>";
  }
  
  if(intype2 =='textarea'){
   var inputcontent2 = "<textarea class='"+inputclass2+"' name='"+input_name2+"' id='"+$('#label2').val()+"'></textarea>";
  }
   
   
  if(addafterme2 == 0){
   $( "#formattributs2" ).append( "<div class='row' id='"+rowid2+"'><label>"+$('#label2').val()+requredlabel2+"</label>"+inputcontent2+"</div>" );
  }else{
   $("<div class='row' id='"+rowid2+"'><label>"+$('#label2').val()+"</label>"+inputcontent2+requredlabel2+"</div>").insertAfter("#"+addafterme2);
  }
   
  
  updateaddfetr();
  }
  }
  	/*  step2 end   */
  
  
  	/*  step3 start  33333333 */
  function createfield3()
  {
  var intype3 = $('#type3').val(); 
  
  var addafterme3 = $('#addafterme3').val(); 
  var optionvalue3 = $('#option3').val();
  var optionvaluearray3 = optionvalue3.split(',');
  var rowid3 = $('#label3').val().replace(' ','-');
  var input_name3 = $('#input_name3').val().replace(' ','-');
  var is_required3 = $("input[name=is_required3]:checked").val();   //alert(is_required3);

  if(intype3!='' && rowid3 !='' && input_name3 !=''){

  var inputclass3='';
  var requredlabel3 ='';
  if(is_required3 == 'true'){
  inputclass3 = inputclass3+" required";
  requredlabel3 = "<span>*</span>"; 
  }
  
  if(intype3 =='radio'){
  if(optionvalue3 == ''){
  alert('Please enter option');
  die;
  }
  var inputcontent3=''
  for(var j=0;j<optionvaluearray3.length;j++){
    inputcontent3 = inputcontent3+"<input class='"+inputclass3+"' type='radio' name='"+input_name3+"'  value='"+optionvaluearray3[j]+"'>"+optionvaluearray3[j];
  }
  }  

  if(intype3 =='checkbox'){
  if(optionvalue3 == ''){
  alert('Please enter option');
  die;
  }
  var inputcontent3=''
  for(var j=0;j<optionvaluearray3.length;j++){
   inputcontent3 = inputcontent3+"<input class='"+inputclass3+"' type='checkbox' name='"+input_name3+"'  value='"+optionvaluearray3[j]+"'>"+optionvaluearray3[j];
  }
  }
  
  if(intype3 =='selectbox'){
  if(optionvalue3 == ''){
  alert('Please enter option');
  die;
  }
  var inputcontent3="<select class='"+inputclass3+"' name='"+input_name3+"'><option value=''>Select One</option>";
  for(var j=0;j<optionvaluearray3.length;j++){
   inputcontent3 = inputcontent3+"<option  value='"+optionvaluearray3[j]+"'>"+optionvaluearray3[j]+"</option>";
  }
  inputcontent3=inputcontent3 +"</select>";
  }
  
  if(intype3 =='text'){
   var inputcontent3 = "<input class='"+inputclass3+"' type='text' name='"+input_name3+"' id='"+$('#label3').val()+"'>";
  }
  
  if(intype3 =='textarea'){
   var inputcontent3 = "<textarea class='"+inputclass3+"' name='"+input_name3+"' id='"+$('#label3').val()+"'></textarea>";
  }
  
   
  if(addafterme3 == 0){
   $( "#formattributs3" ).append( "<div class='row' id='"+rowid3+"'><label>"+$('#label3').val()+requredlabel3+"</label>"+inputcontent3+"</div>" );
  }else{
   $("<div class='row' id='"+rowid3+"'><label>"+$('#label3').val()+requredlabel3+"</label>"+inputcontent3+"</div>").insertAfter("#"+addafterme3);
  }
   
  
  updateaddfetr();
  }
  }
  	/*  step3 end   */
  
  
  
  
  function updateaddfetr(){
  var rowcount = $( "#formattributs" ).length;
  var optionval ='<option value="0">Select</option>';
  
   $( "#formattributs .row" ).each(function() {
   optionval = optionval+'<option value="'+this.id+'">'+this.id+'</option>';
  
   })
  var addafterhtml = "<label>Add After</label><select id='addafterme'>"+optionval+"</select>"
  
  $('#addafter').html(addafterhtml);
  $('#addafter').show();
  }
  
  /*function updateaddfetr2(){
  var rowcount2 = $( "#formattributs2" ).length;
  var optionval2 ='<option value="0">Select</option>';
  
   $( "#formattributs2 .row" ).each(function() {
   optionval2 = optionval2+'<option value="'+this.id+'">'+this.id+'</option>';
  
   })
  var addafterhtml2 = "<label>Add After</label><select id='addafterme2'>"+optionval2+"</select>"
  
  $('#addafter2').html(addafterhtml2);
  $('#addafter2').show();
  }*/
  </script>

<style>
.edit-section{width:600px;border:1px solid #000;margin:0px auto;padding:20px;}
.edit-section2{width:600px;border:0px solid #000;margin:10px auto;padding:0px;}
textarea{width:100%;height:100px;}
label{margin-right:10px;width:25%;float: left;}
.row{margin:10px 0px;width:100%;}
input[type="text"]{width:60%;}
input[type="select"]{width:60%;}
</style>


 
 <div class="container-fluid edit-section2">
 <h2>Form Fields 1</h2>
 </div>
  <div id="formattributs" class="container-fluid edit-section">  
   {{content.content|raw}}
  </div>
  
  <div class="container-fluid edit-section2">
  <h2>Form Fields 2</h2>
 </div>
  <div id="formattributs2" class="container-fluid edit-section">  
   {{content.content|raw}}
  </div>
 
 <h2>Form Fields 3</h2>
 </div>
  <div id="formattributs3" class="container-fluid edit-section">  
   {{content.content|raw}}
  </div>
  
  
  
  <div class="container-fluid edit-section2">
 <h2>Form Option</h2>
 </div>
 
  <div class="container-fluid edit-section">
  
   <form name="bookingform" id="bookingform" action="" method="post"> 
   <div class='row'>
      <label>Form Steps</label>
	  <input type="text"  name="number_steps" id="number_steps" value="{{content.number_steps}}">
   </div>
    <div class='row'>
      <label>Form Title</label> <input type="text"  name="title" id="title" value="{{content.title}}">
   </div>
   
    <div class='row'>
      <label>Email Subject</label> <input type="text"  name="email_subject" id="email_subject" value="{{content.email_subject}}">
   </div>
   
   <div class='row'>
   <label>Email To</label> <input type="text"  name="email_to" id="email_to" value="{{content.email_to}}">
   </div>
   
   <div class='row'>
   <label>Email Cc</label> <input type="text" name="email_cc" id="email_cc" value="{{content.email_cc}}">
   </div>
   <div class='row'> 
   <label>Success Message</label> <textarea name="sucess_message" id="sucess_message">{{content.sucess_message}}</textarea>
   </div>
    <input type="text" name="catagory" id="catagory" value="{{content.catagory}}">
   
   <div class='row' style="display:none">
   <textarea name="content" id="content"></textarea>
   </div>
   </form>
   
    <div class='row'>
    <input type="button" value="Update" id="updateform" onclick="updateform()">
   </div>
   
  </div>
  
 
  