
{% include '::header_service.html.twig' %}


  <div class="container-fluid">
  <div id="banner">
    <div class="row2">
      <div class="container">
        <div class="col-lg-12 text-center head">
          <h1>We are a Creative Digital Agency</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse <br>
            rhoncus, lacus ac commodo volutpat, 
            felis odio pulvinar enim.</p>
          <div class="btn-group">
            <button class="btn btn-default btn-lg dropdown-toggle see" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> See All Services <span class="caret"></span> </button>
            <ul class="dropdown-menu">
              ...
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container_class">
  <div class="row">
    <div class="container">
      <div class="col-md-4 col-sm-4 amet text-center">
        <h3> Packing </h3>
        <div class="packing1_outer"> <img src="{{ asset('theme/frontend/images') }}/Untitled-1.png"> </div>
        <p> Lorem ipsum dolor sit amet, <br>
          consectetur adipiscing elit. <br>
          Suspendisse rhoncus, lacus ac <br>
          commodo volutpat, felis odio <br>
          pulvinar enim, non dapibus mauris <br>
          nulla sed ipsum. </p>
       <h5><a href="{{ asset('service/packing') }}" style=" color: #fc5f04;"> READ MORE</a> </h5>
      </div>
      <div class="col-md-4 col-sm-4 amet text-center">
        <h3> Moving </h3>
        <div class="moving1_out"> <img src="{{ asset('theme/frontend/images') }}/Untitled-2.png"> </div>
        <p> Lorem ipsum dolor sit amet, <br>
          consectetur adipiscing elit. <br>
          Suspendisse rhoncus, lacus ac <br>
          commodo volutpat, felis odio <br>
          pulvinar enim, non dapibus mauris <br>
          nulla sed ipsum. </p>
      <h5><a href="{{ asset('service/moving') }}" style=" color: #fc5f04;"> READ MORE </a></h5>
      </div>
      <div class="col-md-4 col-sm-4 amet text-center">
        <h3> Cleaning </h3>
        <div class="cleaning1_out"> <img src="{{ asset('theme/frontend/images') }}/Untitled-3.png"> </div>
        <p> Lorem ipsum dolor sit amet, <br>
          consectetur adipiscing elit. <br>
          Suspendisse rhoncus, lacus ac <br>
          commodo volutpat, felis odio <br>
          pulvinar enim, non dapibus mauris <br>
          nulla sed ipsum. </p>
         <h5><a href="{{ asset('service/cityCleaning') }}" style=" color: #fc5f04;"> READ MORE  </a></h5>
      </div>
      <br>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="container">
    <div class="col-lg-12">
      <h2> Move Plus is a complete can do company for all your <br>
        moving and cleaning needs. </h2>
      <div class="col-lg-12 col-xs-12 text-center">
        <div class="col-lg-6 col-sm-6 col-sm-12 text-center">
          <div class="pack">
            <h4> 1 </h4>
            <h3> Packing </h3>
            <p> Let our professional packers come with packing materials and do the packing for you at low cost.</p>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12 text-center img">
          <div class="packing"> <img src="{{ asset('theme/frontend/images') }}/box1.png"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="col-lg-12">
      <div class="col-lg-12 col-xs-12 text-center">
        <div class="col-lg-6 col-sm-6 col-sm-12 text-center">
          <div class="move">
            <h4> 2 </h4>
            <h3> Moving </h3>
            <p> Professional moving service is essential, let MovePlus do the job while you sit and relax. </p>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12 text-center">
          <div class="moveimg"> <img src="{{ asset('theme/frontend/images') }}/box2.png"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="col-lg-12">
      <div class="col-lg-12 col-xs-12 text-center">
        <div class="col-lg-6 col-sm-6 col-sm-12 text-center">
          <div class="clean">
            <h4> 3 </h4>
            <h3> Cleaning </h3>
            <p> Whether you want us to clean the property your vacating or the property your moving to let moveplus cleaning team do the job, from end of tenancy cleaning to weekly or monthly cleaning contract. </p>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12 text-center">
          <div class="cleanimg"> <img src="{{ asset('theme/frontend/images') }}/box3.png"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row1">
  <div class="container">
    <div class="col-lg-12 text-center footer">
      <h1> Areas we cover </h1>
      <div class="container footerWrap">
        <div class="row">
          <div class="col-xs-offset-2 col-sm-3 col-sm-offset-0 bay">
            <ul class="list-unstyled">
              <li><a href="#"> Ashford (Spelthorne)</a></li>
              <li><a href="#"> Borehamwood (Spelthorne) Ashford</a></li>
              <li><a href="#">(Spelthorne) Ashford</a></li>
              <li><a href="#">(Spelthorne) Ashford</a></li>
              <li><a href="#">(Spelthorne) Ashford</a></li>
              <li><a href="#">(Spelthorne) Ashford</a></li>
              <li><a href="#">(Spelthorne) Ashford</a></li>
            </ul>
          </div>
          <div class="col-xs-offset-2 col-sm-3 col-sm-offset-0 bay">
            <ul class="list-unstyled">
              <li><a href="#">Barking and shford</a></li>
              <li><a href="#">Barnet</a></li>
              <li><a href="#">Bexley</a></li>
              <li><a href="#">Borehamwood</a></li>
              <li><a href="#">Barking and shford</a></li>
              <li><a href="#">Barnet</a></li>
              <li><a href="#">Bexley</a></li>
              <li><a href="#">Borehamwood</a></li>
            </ul>
          </div>
          <div class="col-xs-offset-2 col-sm-3 col-sm-offset-0 bay">
            <ul class="list-unstyled">
              <li><a href="#">Enfield</a></li>
              <li><a href="#">Esher</a></li>
              <li><a href="#">Greenwich</a></li>
              <li><a href="#">Enfield</a></li>
              <li><a href="#">Esher</a></li>
              <li><a href="#">Greenwich</a></li>
              <li><a href="#">Enfield</a></li>
              <li><a href="#">Esher</a></li>
            </ul>
          </div>
          <div class="col-xs-offset-2 col-sm-3 col-sm-offset-0 bay">
            <ul class="list-unstyled">
              <li><a href="#">Greenwich</a></li>
              <li><a href="#">Barking and shford</a></li>
              <li><a href="#">Ashford (Spelthorne)</a></li>
              <li><a href="#">Greenwich</a></li>
              <li><a href="#">Barking and shford</a></li>
              <li><a href="#">Ashford (Spelthorne)</a></li>
              <li><a href="#">Greenwich</a></li>
              <li><a href="#">Barking and shford</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row3">
  <div class="container">
    <div class="col-lg-12 text-center testimonial test">
      <h1> Testimonial </h1>
      <p> <i> "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus, lacus ac commodo <br>
        volutpat, felis odio pulvinar enim, non dapibus mauris nulla sed ipsum. Lorem ipsum dolor sit amet, <br>
        consectetur adipiscing elit. Suspendisse rhoncus, lacus ac commodo volutpat, felis odio pulvinar enim," <br>
        non dapibus mauris nulla sed ipsum. </i> </p>
    </div>
  </div>
</div>
<div class="row4">
  <div class="container">
    <div class="col-lg-12 text-center anna">
      <h4> - Anna </h4>
      <img src="{{ asset('theme/frontend/images') }}/anna_-img.png"> </div>
    <div class="round"> <img src="{{ asset('theme/frontend/images') }}/round.png"> <img src="{{ asset('theme/frontend/images') }}/round.png"> <img src="{{ asset('theme/frontend/images') }}/round.png"> <img src="{{ asset('theme/frontend/images') }}/round2.png"> </div>
  </div>
</div>
<div class="row5">
  <div class="container">
    <div class="col-lg-12">
      <div class="col-lg-12 col-xs-12 text-center">
        <div class="col-lg-6 col-sm-6 col-sm-12 text-center1">
          <div class="book">
            <h2> Ready to book now? </h2>
            <div class="number"> <img src="{{ asset('theme/frontend/images') }}/phone.png"> 030-3408-4251 </div>
          </div>
          <div class="btn-group1">
            <button type="submit" class="btn btn-default">Book a Cleaning</button>
          </div>
          <div class="btn-group2">
            <button type="submit" class="btn btn-default">See All Services</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

                     
{% include '::footer_service.html.twig' %}

