{% include '::header_service.html.twig' %}

<div class="row">
	<div class="container">
		<div class="col-lg-12 you">
		
		<div id="login" style="top: 0px !important;">
			<div id="content">
			  <form  action="" method="post" enctype="multipart/form-data" class="form">
				  {% for services in allServicesDetail  %}	
					
							<h2>Edit Servive</h2>
							
							<label>Title :</label>
								<input type="text" name="title" value="{{ services.title }}" class="inputFields" >
							
							<label>Meta Title :</label>
								<input type="text" name="metaTitle" value="{{ services.metaTitle }}" class="inputFields">
							
							<label>Meta Keyword :</label>
								<input type="text" name="metaKeyword"  value="{{ services.metaKeyword }}" class="inputFields">
							
							<label>Meta Description :</label>
								<input type="text" name="metaDescription" value="{{ services.metaDescription }}" class="inputFields" >
									
							<label>banner Title  :</label>
								<input type="text" name="bannerTitle" value="{{ services.bannerTitle }}" class="inputFields" >
								
							<label>banner Sort Description  :</label>
								<input type="text" name="bannerSortDesc" value="{{ services.bannerSortDesc }}" class="inputFields" >
													
							<input type="submit" name="submit"  value="Update"  class="btn btn-default widthSet">
							
					{% endfor %}
				</form>
				</div>	
			</div>
		
		
      </div>
   </div>
</div> 


{% include '::footer_service.html.twig' %}
 
