
{% include '::header_service.html.twig' %}


 <div class="container-fluid">
    <div id="cleaning">
      <div class="row2">
        <div class="container">
          <div class="col-lg-12 text-center head_c">
            <h1>Cleaning Services London 1</h1>
            <p  style="color: white !important">The house cleaning and handyman service London relies on at a moment's notice. <br>
              Just pick a time and we'll do the rest.</p>
            
            <div class="btn-group" style=" top: -37px;">
				
              <button class="btn btn-default btn-lg dropdown-toggle see clean_b" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Book now </button>
              <ul class="dropdown-menu">
                ...
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container_class">
    <div class="row">
      <div class="container">
        <div class="growbusiness">
          <div class="col-lg-4 col-sm-4 con1 pull-left">
            <div class="bot"> </div>
            <div class="cleaning_head">
              <h2><img src="{{ asset('theme/frontend/images') }}/clean-bottle.png">Man and Van Hire Bedfordshire </h2>
            </div>
            <p> <strong>Move Plus</strong> offers its customers the fastest and most convenient way to move things in and around the United Kingdom. With highly qualified staff and fully equipped vans, your move from the old address to the new one will take no time with  <strong> Bedfordshire man and van hire. </strong> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="col-lg-12">
        <h2>Bedfordshire man and van hire services include:</h2>
        <div class="col-lg-12 col-xs-12 text-center">
          <div class="col-lg-6 col-sm-6 col-sm-12 text-center">
            <div class="clean">
              <ul> <li> Well trained professionals </li>
              <li>  Full assistance</li>
              <li> 24*7 Accessibility</li> </ul>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12 text-center">
            <div class="clean">
              <ul> <li>  No hidden costs</li>
              <li> Special vans </li>
              <li>  Punctuality </li> </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container loarn_t ">
      <div class="col-lg-12">
        <h2 class="cont"> Avail an Inexpensive Nationwide Bedfordshire Man and Van Hire</h2>
        <div class="col-md-12 col-xs-12">
          <div class="col-md-5 col-sm-12 col-xs-12">
            <p><img src="{{ asset('theme/frontend/images') }}/02.png" alt=""></p>
          </div>
          <div class="col-lg-7 col-sm-12 col-xs-12 text-center">
            <div class="clean1_n">
              <p>
				  Whether you are moving home, office or an apartment, <strong> Bedfordshire man and van hire </strong> will customize the service as per your wish. We guarantee a stress free move with assistance right from planning, packing to loading. The two most difficult concerns of moving - packing and loading are handled cautiously and done efficiently by our team.  
				  </br>
				    <p> Our professional manpower will help you in all ways possible. The men are qualified and their credentials are duly checked before hiring. Move Plus team is well equipped to handle move of any type with well maintained vans for transportation. With <strong> Bedfordshire man and van hire </strong>, your belongings are completely safe and will reach the destination in the same condition as when packed. None of them will suffer any damage during packing, loading or transportation. We are really quick. </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12">
          <div class="col-lg-7 col-sm-12 col-xs-12 text-center">
            <div class="clean1_n">
			 <h2 class="cont"> Why should you choose Bedfordshire Man and Van Hire? </h2>
			 
              <p> Our <strong> Bedfordshire man and van hire </strong>  can move your belongings safely within Bedfordshire or out of it, within UK. Our charges are quite less in comparison to the other moving companies working in the same arena around. There are no hidden costs whatsoever. We are available at all times, day and night included. You can call us anytime to avail our man and van hire service. Just book our services online. No formalities of long forms, booking in advance or emails required.</p>
              </br>
              <p> Require <strong> Man and Van Hire in Bedfordshire</strong>  ? Call us today and get a free quote instantly!</p>
            
              
            </div>
          </div>
          <div class="col-md-5 col-sm-12 col-xs-12">
            <p><img src="{{ asset('theme/frontend/images') }}/dff.jpg" alt=""></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="works">
  <h2> How it works </h2>
</div>
<div class="container_class">
  <div class="row">
    <div class="container">
      <div class="growbusiness">
        <div class="col-lg-4 col-sm-4 con">
          <div class="cleaning_outer"> <img src="{{ asset('theme/frontend/images') }}/clean-time.png"> </div>
          <p> Decide a day and time. </p>
        </div>
        <div class="col-lg-4 col-sm-4 con2" >
          <div class="cleaning1_outer"> <img src="{{ asset('theme/frontend/images') }}/payment-icon.png"> </div>
          <p> Make the payment electronically.</p>
        </div>
        <div class="col-lg-4 col-sm-4 con3" >
          <div class="cleaning2_outer"> <img src="{{ asset('theme/frontend/images') }}/professional.png"> </div>
          <p> A fully armed team arrives on time. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row1">
  <div class="container">
    <div class="col-lg-12 text-center footer">
      <h1> Areas we cover </h1>
      <div class="container footerWrap">
        <div class="row">
          <div class="col-xs-offset-2 col-sm-3 col-sm-offset-0 bay">
            <ul class="list-unstyled">
              <li><a href="#"> Ashford (Spelthorne)</a></li>
              <li><a href="#"> Borehamwood (Spelthorne) Ashford</a></li>
              <li><a href="#">(Spelthorne) Ashford</a></li>
              <li><a href="#">(Spelthorne) Ashford</a></li>
              <li><a href="#">(Spelthorne) Ashford</a></li>
              <li><a href="#">(Spelthorne) Ashford</a></li>
              <li><a href="#">(Spelthorne) Ashford</a></li>
            </ul>
          </div>
          <div class="col-xs-offset-2 col-sm-3 col-sm-offset-0 bay">
            <ul class="list-unstyled">
              <li><a href="#">Barking and shford</a></li>
              <li><a href="#">Barnet</a></li>
              <li><a href="#">Bexley</a></li>
              <li><a href="#">Borehamwood</a></li>
              <li><a href="#">Barking and shford</a></li>
              <li><a href="#">Barnet</a></li>
              <li><a href="#">Bexley</a></li>
              <li><a href="#">Borehamwood</a></li>
            </ul>
          </div>
          <div class="col-xs-offset-2 col-sm-3 col-sm-offset-0 bay">
            <ul class="list-unstyled">
              <li><a href="#">Enfield</a></li>
              <li><a href="#">Esher</a></li>
              <li><a href="#">Greenwich</a></li>
              <li><a href="#">Enfield</a></li>
              <li><a href="#">Esher</a></li>
              <li><a href="#">Greenwich</a></li>
              <li><a href="#">Enfield</a></li>
              <li><a href="#">Esher</a></li>
            </ul>
          </div>
          <div class="col-xs-offset-2 col-sm-3 col-sm-offset-0 bay">
            <ul class="list-unstyled">
              <li><a href="#">Greenwich</a></li>
              <li><a href="#">Barking and shford</a></li>
              <li><a href="#">Ashford (Spelthorne)</a></li>
              <li><a href="#">Greenwich</a></li>
              <li><a href="#">Barking and shford</a></li>
              <li><a href="#">Ashford (Spelthorne)</a></li>
              <li><a href="#">Greenwich</a></li>
              <li><a href="#">Barking and shford</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row5">
  <div class="container">
    <div class="col-lg-12">
      <div class="col-lg-12 col-xs-12 text-center">
        <div class="col-lg-6 col-sm-6 col-sm-12 text-center1">
          <div class="book">
            <h2> Ready to book now? </h2>
            <div class="number"> <img src="{{ asset('theme/frontend/images') }}/phone.png"> 030-3408-4251 </div>
          </div>
          <div class="btn-group1">
            <button type="submit" class="btn btn-default">Book a Cleaning</button>
          </div>
          <div class="btn-group2">
            <button type="submit" class="btn btn-default">See All Services</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

                     
{% include '::footer_service.html.twig' %}

