{% extends '::admin-layout.html.twig' %}

{% block body -%}
<script>
$( document ).ready(function() {
$('.deleterow').click(function(){
return confirm('Are you sure you want to delete this item?');
})

$('#servicesearch').on('input',function(e){
var servicesearchvalue = $('#servicesearch').val();
if(servicesearchvalue.length >3 ){
$.ajax({
        url: '/script/servicesearch.php?key='+servicesearchvalue,
        type: 'get',
        success: function(response) {
            $('#searchresult').html(response);
        }
    });
}else{

$.ajax({
        url: '/script/servicesearch.php',
        type: 'get',
        success: function(response) {
            $('#searchresult').html(response);
        }
    });

}
 $('.deleterow').click(function(){
return confirm('Are you sure you want to delete this item?');
})
});


    
   
});
</script>
    <h2 style="width:400px;float:left">{{ patetitle }}</h2>
    <span style="width:200px;float:right">
    <input type="text" id="servicesearch" name="servicesearch"  autocomplete="off" spellcheck="false" placeholder="Search {{ patetitle }}">
    </span>
    <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
    <thead>
    <tr>
    <th style="width:10%">Id</th>
    <th style="width:20%">Service Title</th> 
    <th style="width:30%">Page Title</th> 
    <th style="width:15%">County</th>
    <th style="width:15%">City</th>                            
    <th style="width:10%">Action</th>                            
    </tr>
    </thead>
    <tbody id="searchresult">
    
    {% for service in countyPages  %}
    <tr>
    
    <td> {{ loop.index }} </td> 
    <td>{{ service.service_name }}</td>
    <td>{{ service.title }}</td>
    <td>{{ service.county }}</td> 
    <td>{{ service.city }}</td>                                                       
    
    <td>
    <a href="{{ path( 'admin_edit_citypages', {'id': service.id  }) }}" title="Edit"> Edit </a> |
    </td>
    
    
    </tr>
    {% endfor %}	
    
    
    
    </tbody>
    </table>
{% endblock %}
