  <div class="page-sidebar navbar-collapse collapse">
     
         <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <li class="sidebar-toggler-wrapper">
               <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
               <div class="sidebar-toggler">
               </div>
               <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
           
			</br>
          
            <li class="start active open">
               <a href="javascript:;">
               <i class="icon-home"></i>
               <span class="title">Dashboard</span>
               <span class="selected"></span>
               <span class="arrow open"></span>
               </a>
               <ul class="sub-menu">
                  <li class="active">
                     <a href="{{ path('move_plus_administrator_dashboard') }}">
                     <i class="icon-bar-chart"></i>
                    dashboard</a>
                  </li> 
                  
                  <li class="active">
                     <a href="{{ path('move_plus_administrator_media') }}">
                     <i class="icon-bar-chart"></i>
                    Media</a>
                  </li>        
               </ul>
            </li>
        
			
			
			<li class="heading">
               <h3 class="uppercase">General Setting</h3>
            </li>
            <li class="tooltips" data-container="body" data-placement="right" data-html="true" data-original-title="Global Setting">			
               <a href="{{ path('move_plus_administrator_settings') }}" title="Global Setting"  >
               <i class="icon-folder"></i>
               <span class="title">
					Global Setting</span>
               </a>
            </li>
			<li class="heading">
               <h3 class="uppercase">Menu</h3>
            </li>
            <li class="tooltips" data-container="body" data-placement="right" data-html="true" data-original-title="Header Menu">			
               <a href="{{ path('move_plus_administrator_headerMenu') }}" title="Header Menu"  >
               <i class="icon-present"></i>
               <span class="title">
					Header Menu</span>
               </a>
            </li> 
			<li class="tooltips" data-container="body" data-placement="right" data-html="true" data-original-title="Footer Menu">			
               <a href="{{ path('move_plus_administrator_footerMenu') }}" title="Footer Menu"  >
               <i class="icon-wallet"></i>
               <span class="title">
					Footer Menu</span>
               </a>
            </li>           
      
			<li class="heading">
               <h3 class="uppercase">Pages</h3>
            </li>
            <li class="tooltips" data-container="body" data-placement="right" data-html="true" data-original-title="Static Pages">			
               <a href="{{ path('move_plus_administrator_staticPages') }}" title="Static Pages"  >
                <i class="icon-rocket"></i>
               <span class="title">
					Static Pages</span>
               </a>
            </li>
            <li class="tooltips" data-container="body" data-placement="right" data-html="true" data-original-title="County Pages">			
               <a href="{{ path('move_plus_administrator_countyPages') }}" title="County Pages"  >
             <i class="icon-paper-plane"></i>
               <span class="title">
					County Pages</span>
               </a>
            </li>
            <li class="tooltips" data-container="body" data-placement="right" data-html="true" data-original-title="City Pages">			
               <a href="{{ path('move_plus_administrator_cityPages') }}" title="City Pages"  >
                 <i class="icon-briefcase"></i>
               <span class="title">
					City Pages</span>
               </a>
            </li>
            <li class="tooltips" data-container="body" data-placement="right" data-html="true" data-original-title="How its Work Content">			
               <a href="{{ path('move_plus_administrator_howItsWorkContent') }}" title="How its Work Content"  >
                 <i class="icon-paper-plane"></i>
               <span class="title">
					How its Work Content</span>
               </a>
            </li>
            <li class="tooltips" data-container="body" data-placement="right" data-html="true" data-original-title="Home Page Banner Slider Images">			
               <a href="{{ path('move_plus_administrator_bannerPages') }}" title="Home Page Banner Slider Images"  >
                 <i class="icon-folder"></i>
               <span class="title">
					Home Banner Images</span>
               </a>
            </li>
            <li class="tooltips" data-container="body" data-placement="right" data-html="true" data-original-title="CreateDynamic Pages ">			
               <a href="{{ path('move_plus_administrator_dynamicscript') }}" title="Create Dynamic Pages" >
                 <i class="icon-folder"></i>
               <span class="title">
				Create	Dynamic Pages </span>
               </a>
            </li>
           
		   <li class="heading">
               <h3 class="uppercase">Testimonial</h3>
            </li>
            <li class="tooltips" data-container="body" data-placement="right" data-html="true" data-original-title="Testimonial">			
               <a href="{{ path('move_plus_administrator_testimonial') }}" title="Testimonial"  >
                <i class="icon-rocket"></i>
               <span class="title">
					Testimonial</span>
               </a>
            </li> 
		   <li class="heading">
               <h3 class="uppercase">Manage Form</h3>
            </li>
            <li class="tooltips" data-container="body" data-placement="right" data-html="true" data-original-title="Manage Form">			
               <a href="{{ path('move_plus_administrator_manageForm') }}" title="Manage Form"  >
                <i class="icon-rocket"></i>
               <span class="title">
					Manage Form</span>
               </a>
            </li>
		
        </ul>
     
      </div>
  